body{
    margin: 0px;
    /* background-color:rgb(230,255,134); */
}

#interface{
    display: flex;
    flex-direction: row;
    background-color:rgb(200,255,134);
    width: 100%;
    min-height: 100vh;
}

.tool-section{
    border-style: double;
    border-width: 1px;
    margin:0.5%;
    text-align: center;
}

.tool-section p{
    text-align: center;
    /*line-height: 100px; */
}

#debug_section{
    background-color:burlywood;
    position:absolute;
    top: 500px;
    left: 1350px;
    width: 25%;
    border-style: double;
    border-width: 1px;
    border-color: black;
    z-index: 3;
    /* height: 145px; */
}

#debug_section_header p{
    cursor: move;
    text-align: center;
}

.debug-output{
    background-color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 3%;
    overflow-y:auto;
    min-height: 75px;
    max-height: 250px;
    resize: vertical;
}

.debug-output p{
    text-align: left;
    padding: 2%;
}

#tool_panel_1{
    display: flex;
    flex-direction: column;
    margin:0.25%;
    width: 18vw;
    min-width: 175px;
}

.add-layout{

}

.remove-layout:hover{
    cursor: pointer;
}

#tool_panel_1 .tool-section{
    padding-top: 6vh;
    padding-bottom: 6vh;
}

#combined_panel{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main_panel{
    width: 1366px;
    height: 768px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: rgb(237, 175, 245);
}

#iframe_panel{
    width: 100%;
    height: 100%;
    border-style: none;
    
}

#tool_panel_2{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-width: 1000px;
}

#tool_panel_2 .tool-section{
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
}

.tool-section-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.tool-section-menu p{
    margin: auto;
    width: 100%;
    text-align: right;
    /* width: 50%; */
    /* margin-left: 25%;  */
}

.tool-section-menu-img{
    /* margin-right: 40%;
    margin-left: 2%; */
    width: 10%;
    margin-right: 35%;
    margin-left: 2%;
}

.tool-section-menu-img img{
    width: 100%;
    height: 100%;
}

.tool-section-menu-img img:hover{
    cursor: pointer;
}

.arrow-rotate{
    transition-duration: 0.5s;
}

.tool-section-display{
    display: none;
}

.layout-draggable{
    width: 175px;
    height: 50px;
    background-color: none;
    border-style: double;
    border-width: 2px;
    border-color: orange;
    margin: auto;
}

.sub-layout-draggable{
    width: 135px;
    height: 35px;
    background-color: none;
    border-style: double;
    border-width: 2px;
    border-color:orange;
    margin: auto;
}

.layout-droppable{
    width: 175px;
    height: 50px;
    background-color: none;
    border-style: double;
    border-width: 2px;
    border-color: orange;
    margin: auto;
}

.selected-layout{
}

.selected-layout-el{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
}

.selected-layout-el p{
    margin: auto;
    margin-left: 25%;
}

.selected-layout-el img{
    margin: auto;
    margin-right: 20%;
    width: 5%;
}

.menu-project-option:hover{
    cursor: pointer;
}

.popup-new-project{
    background-color:salmon;
    border-style: double;
    border-width: 1px;
    border-color: black;
    width: 35vw;
    max-width: 27%;
    min-width: 350px;
    height: 30vh;
    min-height: 250px;
    margin: auto;
    text-align: center;
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.popup-new-project img{
    width: 2%;
    margin-top: 1%;
    margin-left: 96%;
}

.popup-new-project img:hover{
    cursor: pointer;
}

.new-project-form input[type=submit]{
    margin-top: 1%;
}

.popup-upload-project{
    background-color:salmon;
    border-style: double;
    border-width: 1px;
    border-color: black;
    width: 35vw;
    max-width: 27%;
    min-width: 350px;
    height: 35vh;
    min-height: 300px;
    margin: auto;
    text-align: center;
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.popup-upload-project img{
    width: 2%;
    margin-top: 1%;
    margin-left: 96%;
}

.popup-upload-project img:hover{
    cursor: pointer;
}

.upload-project-form input[type=submit]{
    margin-top: 2%;
}

.popup-delete-project{
    background-color:salmon;
    border-style: double;
    border-width: 1px;
    border-color: black;
    width: 35vw;
    max-width: 27%;
    min-width: 350px;
    height: 35vh;
    min-height: 300px;
    margin: auto;
    text-align: center;
    position:absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.popup-delete-project img{
    width: 2%;
    margin-top: 1%;
    margin-left: 96%;
}

.popup-delete-project img:hover{
    cursor: pointer;
}

.delete-project-form input[type=submit]{
    margin-top: 1%;
}

.projects-list-box{
    background-color: white;
    width: 65%;
    margin: auto;
    border-style: double;
    border-width: 1px;
    border-color: black;
    margin-bottom: 2%;
    overflow-y: auto;
    max-height: 20vh;
    min-height: 150px;
}

.projects-list-box p{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.projects-list-box p:hover{
    cursor: pointer;
    background-color:rgb(237, 175, 245);
    transition: 1s;
}

.selected-project{
    background-color:rgb(237, 175, 245);
}

.unselected-project{
    background-color: none
}