body{
    margin: 0px;
    /* background-color:rgb(230,255,134); */
}

#interface{
    display: flex;
    flex-direction: row;
    background-color:rgb(200,255,134);
    width: 100%;
    min-height: 100vh;
}

.tool-section{
    border-style: double;
    border-width: 1px;
    margin:0.5%;
    text-align: center;
}

.tool-section p{
    text-align: center;
    /*line-height: 100px; */
}

#tool_panel_1{
    display: flex;
    flex-direction: column;
    margin:0.25%;
    width: 18vw;
    min-width: 175px;
}

#tool_panel_1 .tool-section{
    padding-top: 6vh;
    padding-bottom: 6vh;
}

#combined_panel{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main_panel{
    width: 1366px;
    height: 768px;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: rgb(237, 175, 245);
}

#tool_panel_2{
    display: flex;
    flex-direction: row;
    align-content: center;
    min-width: 1000px;
}

#tool_panel_2 .tool-section{
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
}

.tool-section-menu{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.tool-section-menu p{
    margin-left: auto;
}

.tool-section-menu img{
    /* margin: auto; */
    width: 5%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.layout-draggable{
    width: 175px;
    height: 50px;
    background-color: none;
    border-style: double;
    border-width: 2px;
    border-color: orange;
    margin: auto;
}